<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webnest.internship.dao.EnterpriseMapper">
    <resultMap id="BaseResultMap" type="com.webnest.internship.bean.Enterprise">
        <id column="enterprise_id" jdbcType="INTEGER" property="enterpriseId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="contact_name" jdbcType="VARCHAR" property="contactName"/>
        <result column="contact_tel" jdbcType="VARCHAR" property="contactTel"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="check_file" jdbcType="VARCHAR" property="checkFile"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    enterprise_id, type, name, address, email, contact_name, contact_tel, intro, password, 
    register_time, status, images, check_file
  </sql>
    <select id="selectByExample" parameterType="com.webnest.internship.bean.EnterpriseExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select enterprise_id,
        enterprise.type,
        enterprise.`name`,
        enterprise.address,
        enterprise.email,
        enterprise.contact_name,
        enterprise.contact_tel,
        enterprise.intro,
        enterprise.register_time,
        enterprise.`status`,
        enterprise.images,
        enterprise.check_file
        <include refid="Base_Column_List"/>
        from enterprise
        where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
    </select>

    <select id="selectAllEnt" resultMap="BaseResultMap">
    SELECT
    enterprise.enterprise_id,
    enterprise.type,
    enterprise.`name`,
    enterprise.address,
    enterprise.email,
    enterprise.contact_name,
    enterprise.contact_tel,
    enterprise.intro,
    enterprise.register_time,
    enterprise.`status`,
    enterprise.images,
    enterprise.check_file
    FROM
    enterprise
    GROUP BY
    enterprise.register_time
  </select>

  <select id="selectAllEntBysta" resultMap="BaseResultMap">
    SELECT
      enterprise.enterprise_id,
      enterprise.type,
      enterprise.`name`,
      enterprise.address,
      enterprise.email,
      enterprise.contact_name,
      enterprise.contact_tel,
      enterprise.intro,
      enterprise.register_time,
      enterprise.`status`,
      enterprise.images,
      enterprise.check_file
      FROM
      enterprise
      WHERE
      enterprise.`status`=#{status, jdbcType=VARCHAR}
      GROUP BY
      enterprise.register_time
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.webnest.internship.bean.EnterpriseExample">
        delete from enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webnest.internship.bean.Enterprise">
    insert into enterprise (enterprise_id, type, name, 
      address, email, contact_name, 
      contact_tel, intro, password, 
      register_time, status, images, 
      check_file)
    values (#{enterpriseId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactTel,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{checkFile,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.webnest.internship.bean.Enterprise">
        insert into enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">
                enterprise_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactTel != null">
                contact_tel,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="images != null">
                images,
            </if>
            <if test="checkFile != null">
                check_file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">
                #{enterpriseId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="images != null">
                #{images,jdbcType=VARCHAR},
            </if>
            <if test="checkFile != null">
                #{checkFile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webnest.internship.bean.EnterpriseExample"
            resultType="java.lang.Long">
        select count(*) from enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update enterprise
        <set>
            <if test="record.enterpriseId != null">
                enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.contactName != null">
                contact_name = #{record.contactName,jdbcType=VARCHAR},
            </if>
            <if test="record.contactTel != null">
                contact_tel = #{record.contactTel,jdbcType=VARCHAR},
            </if>
            <if test="record.intro != null">
                intro = #{record.intro,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.registerTime != null">
                register_time = #{record.registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.images != null">
                images = #{record.images,jdbcType=VARCHAR},
            </if>
            <if test="record.checkFile != null">
                check_file = #{record.checkFile,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update enterprise
        set enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
        type = #{record.type,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        contact_name = #{record.contactName,jdbcType=VARCHAR},
        contact_tel = #{record.contactTel,jdbcType=VARCHAR},
        intro = #{record.intro,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=VARCHAR},
        images = #{record.images,jdbcType=VARCHAR},
        check_file = #{record.checkFile,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.webnest.internship.bean.Enterprise">
        update enterprise
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                contact_tel = #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="images != null">
                images = #{images,jdbcType=VARCHAR},
            </if>
            <if test="checkFile != null">
                check_file = #{checkFile,jdbcType=VARCHAR},
            </if>
        </set>
        where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webnest.internship.bean.Enterprise">
    update enterprise
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      check_file = #{checkFile,jdbcType=VARCHAR}
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </update>
</mapper>