<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webnest.internship.dao.StuApplyMapper">
    <resultMap id="BaseResultMap" type="com.webnest.internship.bean.StuApply">
        <id column="apply_id" jdbcType="INTEGER" property="applyId"/>
        <result column="stu_id" jdbcType="VARCHAR" property="stuId"/>
        <result column="exp_id" jdbcType="INTEGER" property="expId"/>
        <result column="apply_status" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    apply_id, stu_id, exp_id, apply_status, submit_time
  </sql>
    <select id="selectByExample" parameterType="com.webnest.internship.bean.StuApplyExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from stu_apply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stu_apply
        where apply_id = #{applyId,jdbcType=INTEGER}
    </select>

    <select id="selectByExpId" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
        stu_apply.apply_id,
        stu_apply.stu_id,
        stu_apply.exp_id,
        stu_apply.apply_status,
        student.`name` AS stuName,
        class.`name` AS className
        FROM
        stu_apply
        INNER JOIN student ON stu_apply.stu_id = student.stu_id
        INNER JOIN class ON student.stu_class = class.class_id
        where exp_id = #{exp_id,jdbcType=INTEGER}
    </select>

    <select id="selectByExpIdSta" resultType="java.util.Map">
        SELECT
        stu_apply.apply_id,
        stu_apply.stu_id,
        stu_apply.exp_id,
        stu_apply.apply_status,
        student.`name` AS stuName,
        class.`name` AS className
        FROM
        stu_apply
        INNER JOIN student ON stu_apply.stu_id = student.stu_id
        INNER JOIN class ON student.stu_class = class.class_id
        where exp_id = #{exp_id,jdbcType=INTEGER} and apply_status = #{status, jdbcType = VARCHAR}
    </select>

    <select id="selectStu" resultType="java.util.Map">
        SELECT
        stu_apply.stu_id,
        student.`name` AS stuName,
        class.`name` AS className,
        stu_achievement.mark,
        stu_achievement.work_url AS `work`
        FROM
        stu_apply
        INNER JOIN student ON stu_apply.stu_id = student.stu_id
        INNER JOIN class ON student.stu_class = class.class_id
        INNER JOIN stu_achievement ON stu_achievement.apply_id = stu_apply.apply_id
        WHERE
        stu_apply.exp_id = #{exp_id, jdbcType=INTERGE}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stu_apply
    where apply_id = #{applyId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.webnest.internship.bean.StuApplyExample">
        delete from stu_apply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webnest.internship.bean.StuApply">
    insert into stu_apply (apply_id, stu_id, exp_id, 
      apply_status, submit_time)
    values (#{applyId,jdbcType=INTEGER}, #{stuId,jdbcType=VARCHAR}, #{expId,jdbcType=INTEGER}, 
      #{applyStatus,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.webnest.internship.bean.StuApply">
        insert into stu_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">
                apply_id,
            </if>
            <if test="stuId != null">
                stu_id,
            </if>
            <if test="expId != null">
                exp_id,
            </if>
            <if test="applyStatus != null">
                apply_status,
            </if>
            <if test="submitTime != null">
                submit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null">
                #{applyId,jdbcType=INTEGER},
            </if>
            <if test="stuId != null">
                #{stuId,jdbcType=VARCHAR},
            </if>
            <if test="expId != null">
                #{expId,jdbcType=INTEGER},
            </if>
            <if test="applyStatus != null">
                #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                #{submitTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webnest.internship.bean.StuApplyExample" resultType="java.lang.Long">
        select count(*) from stu_apply
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update stu_apply
        <set>
            <if test="record.applyId != null">
                apply_id = #{record.applyId,jdbcType=INTEGER},
            </if>
            <if test="record.stuId != null">
                stu_id = #{record.stuId,jdbcType=VARCHAR},
            </if>
            <if test="record.expId != null">
                exp_id = #{record.expId,jdbcType=INTEGER},
            </if>
            <if test="record.applyStatus != null">
                apply_status = #{record.applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.submitTime != null">
                submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update stu_apply
        set apply_id = #{record.applyId,jdbcType=INTEGER},
        stu_id = #{record.stuId,jdbcType=VARCHAR},
        exp_id = #{record.expId,jdbcType=INTEGER},
        apply_status = #{record.applyStatus,jdbcType=VARCHAR},
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.webnest.internship.bean.StuApply">
        update stu_apply
        <set>
            <if test="stuId != null">
                stu_id = #{stuId,jdbcType=VARCHAR},
            </if>
            <if test="expId != null">
                exp_id = #{expId,jdbcType=INTEGER},
            </if>
            <if test="applyStatus != null">
                apply_status = #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                submit_time = #{submitTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where apply_id = #{applyId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webnest.internship.bean.StuApply">
    update stu_apply
    set stu_id = #{stuId,jdbcType=VARCHAR},
      exp_id = #{expId,jdbcType=INTEGER},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP}
    where apply_id = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>